{
    "extends": [
        "eslint:recommended",
        "plugin:react/recommended",
        "prettier/react",
        "prettier"
    ],
    "plugins": ["react", "prettier"],
    "parserOptions": {
        "ecmaVersion": 2018,
        "sourceType": "module"
    },
    "env": {
        "browser": true,
        "es6": true,
        "node": true
    },
    "rules": {
        "prettier/prettier": "error",
        "no-console": "warn",
        "react/prop-types": "off"
    }
}
